body {
    margin: 20px;
    background-color: white;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transform: translateY(100px);
    transition: all 1s ease-in-out;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
        color: red;
    }

    25% {
        transform: rotate(10deg);
        color: blue;
    }

    50% {
        transform: rotate(0deg);
        color: green;
    }

    75% {
        transform: rotate(-10deg);
        color: orange;
    }

    100% {
        transform: rotate(0deg);
        color: aqua;
    }
}

h1.wiggle {
    display: inline-block;
    animation: wiggle 5s infinite;
}

h1.wiggle:hover {
    animation: none;
}

.box:hover {
    transform: translateY(0px)
}

#box-ani {
    width: 100px;
    height: 100px;
    background-image: url("../img/Sketchpad.png");
    background-position: center;
    background-size: cover;
    border: 1px solid lightgray;
    border-radius: 14px;
    position: relative;
    overflow: hidden;
    transition: width 1s ease-in
}

/* transition을 사용해 속도를 조절할 수 있음 */
.box-overlay {
    width: 100px;
    height: 100px;
    /* background-color: black; */
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    background-color: blue;
    top: 100px;
    left: 0;
    transition: all 1s ease-in-out;
}

.box-overlay p {
    margin: 0px;
    font-size: 10px;
    color: white;
    font-weight: bold;
}


#box-ani:hover .box-overlay {
    top: 0px;
}