$radius: 14px;


/* css graduebt example */
body {
  height: 1000vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.scroll-outer {
  position: fixed;
  width: 5px;
  height: 100px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: gray;
  border-radius: $radius;
}

.scroll-inner {
  width: 100%;
  height: 0px;
  position: absolute;
  top: 0;
  background-color: yellow;
  border-radius: $radius;
}

.scroll-outer-width {
  position: fixed;
  width: 100px;
  height: 5px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: gray;
  border-radius: $radius;
}


.scroll-inner-width {
  width: 0px;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: yellow;
  border-radius: $radius;
}