body {
    margin: 20px;
    background-color: white;
}

#targetBox {
    width: auto;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

#targetBox h1 {
    margin: 0px;
    padding: 20px;
    font-size: 1.5rem;
}

#blind {
    @extend body;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


#cursor {
    position: absolute;
    top: 0;
    left: 0;

    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
}