/* 카테고리별 추천 광고상품 */
.wrap {
    position: relative;
    width: 1020px;
    height: 100vh;
    margin: 0px auto;
}

header {
    margin-top: 100px;
    margin-bottom: 48px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1020px;
    height: 634px;
    border: 1px solid black;
}

.mg-16 {
    margin-right: 16px;
    margin-bottom: 9px;
}

.box-smbig {
    width: 176px;
    height: 315px;
    border: 1px solid black;

}


.box-sm {
    width: 140px;
    height: 300px;
    border: 1px solid black;
}

.box-lm {
    width: 320px;
    height: 631px;
    border: 1px solid black;
}