/* 오늘의 쇼핑 제안 */
.wrap {
    position: relative;
    width: 1022px;
    height: 100vh;
    margin: 0px auto;
}

.dp-none {
    display: none;
}

.dp-hidden {
    visibility: hidden;
}

.header-img {
    width: 176px;
    height: 40px;
    margin-top: 100px;
    margin-bottom: 48px;
}

section {
    position: absolute;
    width: inherit;
    height: 354px;
}

section ol,
ul {
    list-style-image: none;
    padding-left: 30px;
}

section li {
    display: inline;
}

.shop-ico {
    background-image: url(../../assets/icon/shopping.svg);
    background-repeat: no-repeat;
}

.section-title {
    margin-bottom: 24px;
}

.section-box-list {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: inherit
}

.section-box {
    position: relative;
    width: 200px;
    height: 270px;
}

.section-box-discountRate {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 53px;
    height: 30px;
    color: var(--color-white);
    background-color: var(--color-red-500);
    z-index: 5;
}

.section-box-productImg {
    position: absolute;
    width: 160px;
    height: 160px;
    margin: 14px 20px 96px;
}

.section-box-info {
    position: relative;
    margin: 186px 14px 38px
}

.section-box-productDesc {
    position: absolute;
    width: 172px;
    height: 17px;
    font-size: var(--section-font-size-14);
    font-weight: 400;
}

.section-box-productDetailInfo {
    position: absolute;
    margin-top: 41px;
}

/*로켓배송 */
.delivery-r {
    width: 55px;
    height: 16px;
    background-repeat: no-repeat;
}

/* 무료배송*/
.delivery-f {
    font-size: var(--section-font-size-14);
    color: var(--color-gray-700)
}

/*별점-검은배경  */
.ratingStarImg-bg {
    display: block;
    float: left;
    width: 65px;
    height: 15px;
    background-image: url(../../assets/sprites/rating-stars.png);
    background-repeat: no-repeat;

}

/*별점-%  */
.ratingStarImg {
    display: block;
    float: left;
    width: 92%;
    height: 15px;
    background-image: url(../../assets/sprites/rating-stars.png);
    background-position-x: 0px;
    background-position-y: -140px;
    background-repeat: no-repeat;
}

/*리뷰갯수*/
.reviewCnt {
    float: left;
    margin-left: 4px;
    width: 55px;
    font-size: var(--section-font-size-14);
    color: var(--color-gray-500)
}


/*이미지 클래스*/
.section-box-main-img-1 {
    background-image: url(../../assets/offer/furniture.jpg);
}

.section-box-main-img-2 {
    background-image: url(../../assets/offer/renton.jpg);
}

.section-box-main-img-3 {
    background-image: url(../../assets/offer/drying-rack.jpg);
}

.section-box-main-img-4 {
    background-image: url(../../assets/offer/boohgle.jpg);
}

.section-box-main-img-5 {
    background-image: url(../../assets/offer/deskset.jpg);
}